# Configurações de Banco de Dados
DATABASE_URL=jdbc:db
DATABASE_USER=postgres
DATABASE_PASSWORD=password

# Segurança
JWT_SECRET=jwtsecret

# Configurações da Aplicação
PORT=8080
LOG_LEVEL=DEBUG
LOG_LEVEL_SECURITY=DEBUG

BREVO_API_KEY=brevoapikey
BREVO_FROM_EMAIL=sender@vilt-group.com
BREVO_NAME=[DEV] Banco de Talentos

FRONT_URL=https://banco-talentos-front.netlify.app

ALLOWED_ORIGINS=http://localhost:5173,http://localhost:5173/,https://banco-talentos-front.netlify.app
